* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.img-bg {
    background-image: url("./img/img_0.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 1%;
    min-width: 300px;
    background: #ffffff;
    box-shadow: 0px 0px 0px 1px black;
}

.left,
.right {
    width: 100%;
}

.left {
    font-weight: 900;
}

.right-flex {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}
.right-flex a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.right-flex li {
    width: 100%;
    font-weight: bolder;
}

.resume-btn {
    background: rgb(245, 90, 149);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 3px 4px 1px black;
    color: white;
}

.sectionOne {
    background: rgba(255, 255, 255, 0.281);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    align-items: center;
    height: 92vh;
}

.hi-word {
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}

.role {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;

}

.name-word {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.follow-btn,
.profile-btn {
    background: rgb(56, 56, 56);
    padding: 1%;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 4px 1px rgb(0, 0, 0);
    padding-left: 3%;
    padding-right: 3%;
    margin: 1%;
    border-radius: 5px;
}

.service-heading {
    text-align: center;
    padding: 2%;
}

.service-heading span:nth-child(odd) {
    background: #df17a3;
    color: white;
    padding: 1%;
    font-size: 1.4em;
    text-transform: uppercase;
}

.service-item img {
    width: 200px;
    height: 190px;
    display: flex;
    border-radius: 100%;
    border: 10px solid rgb(131, 27, 131);
    box-shadow: 10px 15px 20px 1px black;
    padding: 1%;
}



.service-item h1 {
    margin-top: 4%;
    font-weight: 100;
}

.service-container {
    display: flex;
    height: 60vh;
    background: linear-gradient(175deg, white 50%, rgb(71, 8, 71) 50%);
}

.service-item {
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    font-size: 1em;
    padding: 4%;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 auto;
    color: white;
}

.service-heading span:nth-child(even) {
    background: #2969df;
    color: white;
    padding: 1%;
    text-transform: uppercase;
    font-size: 2em;
}

.sectionThird {
    display: flex;
    height: 100%;
}

.third-left,
.third-right {
    width: 100%;
    height: 60vh;
    text-align: justify;
    color: rgb(233, 233, 233);
}

.third-left h1,
.third-right h1 {
    font-size: 3em;
    font-weight: 100;
}

.third-left p,
.third-right p {
    color: rgb(233, 233, 233);
}

.third-right {
    background-image: url(./img/img_7.jpg);
    background-position: center;
    background-size: cover;
}

.third-left {
    background-image: url(./img/img_6.jpg);
    background-position: center;
    background-size: cover;
}

.contact-me {
    background: rgba(141, 104, 2, 0.486);
    height: 100%;
    backdrop-filter: blur(3px);
    padding: 8%;
}

.about-me {
    background: rgba(0, 70, 175, 0.486);
    height: 100%;
    backdrop-filter: blur(3px);
    padding: 8%;
}

.sectionFourth {
    padding: 3%;
    background: #005157;
    text-align: center;
    color: white;
}

.fourth-elements h1,
h2 {
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
}

.fourth-elements h1::first-letter {
    font-size: 3em;
    font-weight: 100;
}

.fourth-elements ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.top-btn{
    width: 40%;
    margin: 0 auto;
    background: #009171;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(252, 252, 252);
}

.fourth-elements ul li {
    padding: 1%;
}

.notes-container {
    background: rgb(255, 237, 237);
    padding: 5%;
}

.notes-flex {
    display: flex;
    height: 30vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.notes-item {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
    background: #580049;
    box-shadow: 3px 3px 13px 3px black;
    font-size: 1.3em;
    text-align: center;
    transform: rotate(10deg);
    margin: 0 2%;
    transition: 0.5s all;
}

.notes-item:hover {
    transform: rotate(0deg) scale(1.1);
    background: #97037f;
    transition: 0.5s;
}

.notes-container .service-heading {
    margin-bottom: 3%;
}

.project-flex {
    display: flex;
    height: 100%
}

.project-item {
    width: 100%;
    text-align: center;
    padding: 1%;
}

.project-item:nth-child(even) {
    background: rgb(1, 105, 88);
    color: rgb(231, 231, 231);
}

.project-item:nth-child(odd) {
    background: rgb(2, 150, 125);
    color: rgb(0, 0, 0);
}

.project-item h1 {
    font-size: 1.5em;
    padding: 1%;
}

.project-item p {
    padding: 2%;
    text-align: justify;
}

.bg-tetra {
    background: rgb(1, 105, 88);
    padding: 4%;
}

@media  screen  and (max-width:803px) {
    .left{
        border-bottom: 1px solid rgb(230, 225, 225);
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .flex-container{
        display: block;
    }
    .right-flex{
        display: inline;
        width: 100%;
        text-align: center;
    }
    .right-flex li{
        padding: 1%;
    }
    .sectionOne{
        text-align: center;
    }
    .service-container{
        display: block;
        height: 100%;
    }
    .service-container{
        background: linear-gradient(145deg, white 50%, rgb(235, 95, 235) 50%);
    }
    .service-item{
        text-align: center;
        color: #000000;
    }
    .sectionThird{
        display: block;
        height: 100%;
    }
    .notes-flex{
        flex-wrap: wrap;
        height: 100%;
        padding-bottom: 13%;
    }
    .notes-item{
        height: 100px;
        width: 100px;
        font-size: 1em;
        transform: rotate(0deg);
        margin-bottom: -30px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 1px 3px 10px 0px black;
        background: #f7f2f2;
        color: black;
    }
    .project-flex{
        display: block;
        height: 100%;
    }
    .notes-container {
        background: rgb(255, 255, 255);
    }
    .notes-item:hover {
        transform: rotate(0deg) scale(1.1);
        background: #ecb8e4;
        transition: 0.5s;
    }
    .img-bg{
        background-position: center;
        background-size: contain;
    }
    .third-right, .third-left{
        height: 100%;
    }
}

@media screen and (max-width:410px) {
    .hi-word{
        font-size: 4em;
    }
    .name-word{
        font-size: 1.2em;
    }
    .role{
        font-size: 2em;
    }
    .sectionOne {
        height: 72vh;
    }
    .fourth-elements ul {
        display: block;
    }
    .service-heading{
        font-size: 0.8em;
    }
}